%%-*- mode: erlang -*-

{lib_dirs, ["deps"]}.


{erl_opts,
 [{i, "include"},
  {i, "deps"},
  {src_dirs, ["src"]},
  debug_info
 ]
}.

{erl_opts, [{platform_define, "R15", 'crypto_compat'},
            fail_on_warning,
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            warn_export_vars,
            warn_exported_vars,
            %%warn_untyped_record,
            % warn_missing_spec,
            % strict_validation,
            debug_info]}.

{deps, [
        %% btree library
        {cbt, ".*", {git, "https://bitbucket.org/refugeio/cbt.git",
                 {branch,"master"}}}

]}.
